# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment & Secrets
.env
*.env.local

# Build & CAD exports
*.obj
*.gcode
*.3mf

# Docker Volumes & Local Data
deploy/volumes/
deploy/data/
*.log